/* -------- FLEX Footer -------- */
.footer div.row {
    row-gap: 1.5rem;
}

.footer .nuestras-apps.d-flex {
    column-gap: 1rem;
    row-gap: 1rem;
}

.footer address a.d-flex {
    column-gap: 0.5rem;
}

.footer address.d-flex,
.footer .otros-links.d-flex {
    row-gap: 0.5rem;
}

/* -------- FLEX pedido.html --------*/
.consulta-pedido {
    div.d-flex {
        row-gap: 0.8rem;
    }

    form.d-flex {
        row-gap: 0.5rem;
    }
}

/* -------- FLEX contacto.html --------*/
.contacto {
    form.d-flex {
        row-gap: 0.6rem;
    }
}

/* -------- FLEX armala.html --------*/
#armala-form {
    div.d-flex {
        column-gap: 1rem;
    }

    fieldset.d-flex {
        row-gap: 0.6rem;
    }   
}