/* -------- FLEX Footer -------- */
.footer .nuestras-apps.d-flex {
    column-gap: 1rem;
    row-gap: 1rem;
}

.footer address a.d-flex {
    column-gap: 0.5rem;
}

.footer address.d-flex,
.footer .otros-links.d-flex {
    row-gap: 0.5rem;
}

/* -------- FLEX pedido.html --------*/
section.consulta-pedido .consulta-pedido-container {
    row-gap: 0.8rem;
}

/* -------- FLEX armala.html --------*/
form#armala-form {
    div.d-flex {
        column-gap: 1rem;
    }
}