@import '../base/media-query';

/* -------- Footer -------- */
.footer {
    background-color: var(--color-gris);
    border-top: 2.5px solid var(--color-blanco);
    padding: var(--padding-vertical) var(--padding-horizontal);
    user-select: none;

    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
    }
    i {
        color: var(--color-blanco);
    }
}

.footer .nuestras-apps {
    img {
        filter: opacity(0.6);
        height: 61px;
        width: 202px;

        &:hover {
            filter: drop-shadow(0 0 10px #F8F9F166);
        }
    }
}

.footer .iconos-formas-de-pago {
    img {
        height: 52px;
        margin-right: 0.2rem;
        width: 60px;
    }
}
    
.footer address {
    font-style: italic;
    margin: 0;
    .iconos-address {
        width: 50px;
        height: 42px;
    }
    p {
        color: var(--color-blanco);
        font-size: 0.8rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: initial;
        margin: 0;
    }
}

.footer .redes-sociales {
    margin-top: 0.5rem;
    a {
        margin-right: 0.5rem;
    }

    i.fa-facebook-square:hover {
        color: var(--color-facebook);
    }
    
    i.fa-instagram:hover {
        color: var(--color-instagram);
    }
    
    i.fa-youtube:hover {
        color: var(--color-youtube);
    }
}

.footer small {
    margin-top: 1.5rem;

    .desarrollador {
        display: inline;
        font-size: 1rem;
    }
}

@include media-breakpoint-only(xs) {
    .footer {
        padding: var(--padding-vertical-mobile) var(--padding-horizontal-mobile);

        h2 {
            font-size: 1rem;
        }
        h3 {
            font-size: 0.8rem;
        }
        i {
            font-size: 1.8rem;
        }
    }

    .footer .nuestras-apps {
        img {
            height: 58px;
            width: 198px;
        }
    }

    .footer .iconos-formas-de-pago {
        img {
            height: 50px;
            width: 57px;
        }
    }

    .footer .redes-sociales {
        a {
            margin-left: 0.5rem;
            margin-right: 0;
        }
    }
}