@import '../base/media-query';

a {
    color: var(--color-queso);
    text-decoration: none;
    
    &:active {
        color: var(--color-tomate);
    }

    &:hover {
        color: var(--color-blanco);
    }

    &:visited {
        color: var(--color-rojo-intenso);
    }
}

body {
    background-color: var(--color-gris);
    color: var(--color-blanco);
    font-family: var(--font-family-general);
    font-size: 1rem;
    padding-top: var(--altura-menu-fijo);
}

em {
    text-decoration: underline;
}

figure {
    margin: 0;
}

h1 {
    color: var(--color-gris);
    font-family: var(--font-family-ipizza);
    font-size: 2.2rem;
    margin-bottom: 1.67rem;
    text-align: center;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

h3 { font-size: 1rem; }

i { font-size: 2rem; }

section {
    padding: var(--padding-vertical) 0;
    position: relative;
}

small {
    display: block;
    font-size: 0.8rem;
    text-align: center;
}

strong {
    color: var(--color-queso);
    font-family: var(--font-family-ipizza);
    font-size: 0.9rem;

    &:hover {
        color: var(--color-blanco);
    }
}

@include media-breakpoint-between(sm, lg) {
    body { 
        font-size: 0.9rem;
        padding-bottom: 3.5rem;
    }

    body.armala-padding-bottom {
        padding-bottom: 0rem; // Solo en armala.html, por JS
    }
}

@include media-breakpoint-between(xs, lg) {
    body {
        padding-top: var(--altura-menu-fijo-mobile);
    }

    section {
        padding: var(--padding-vertical-mobile) 0;
    }
}

@include media-breakpoint-only(xs) {
    body { font-size: 0.8rem; }
    h1 { 
        font-size: 1.7rem; 
        margin-bottom: 1rem;
    }
    h2 { font-size: 1.3rem; }
    h3 { font-size: 0.8rem; }

    small { font-size: 0.7rem; }
}