@import '../base/media-query';

/* -------- HEADER -------- */
.header {
    background-color: var(--color-gris);
    box-shadow: 0 10px 6px -6px var(--color-blanco-alpha40);
    height: var(--altura-menu-fijo);
    padding: 0 var(--padding-horizontal);
    user-select: none;
    width: 100vw;
}

.logotipo-y-menu-container {
    height: var(--altura-menu-fijo);
}

@include media-breakpoint-down(lg) {
    .header {
        height: var(--altura-menu-fijo-mobile);
        padding: 0;
    }

    .logotipo-y-menu-container {
        height: var(--altura-menu-fijo-mobile);
    }
}