@import '../base/media-query';

/* -------- HEADER -------- */
.header {
    background-color: var(--color-gris);
    box-shadow: 0 10px 6px -6px #F8F9F166;
    height: var(--altura-menu-fijo);
    padding: 0 2.5rem;
    user-select: none;
}

.logotipo-y-menu-container {
    height: var(--altura-menu-fijo);
}

@include mediaq-breakpoint-max(md) {
    .header {
        height: var(--altura-menu-fijo-mobile);
        padding: 0 0.7rem;
    }

    .logotipo-y-menu-container {
        height: var(--altura-menu-fijo-mobile);
    }
}