@import '../base/media-query';

/* -------- HEADER -------- */
.header {
    background-color: var(--color-gris);
    box-shadow: 0 10px 6px -6px #F8F9F166;
    height: var(--altura-menu-fijo);
    padding: 0 var(--padding-horizontal);
    user-select: none;
}

.logotipo-y-menu-container {
    height: var(--altura-menu-fijo);
    width: fit-content;
}

@include media-breakpoint-down(md) {
    .header {
        height: var(--altura-menu-fijo-mobile);
    }

    .logotipo-y-menu-container {
        height: var(--altura-menu-fijo-mobile);
    }
}