@import '../base/media-query';

/* -------- BOTONES -------- */
button {
    @include button;
    @include prefix(transition, all 1s);

    &:hover {
        @include prefix(transition, all 1s);
    }
}

.btn-menu-mobile, 
.btn-close {
    @include prefix(transition, unset);
    line-height: 1.2rem;

    &:hover {
        @include prefix(transition, unset);
    }
}

.btn-menu-mobile {
    background-color: var(--color-gris);
    border-radius: unset;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
        left: 0;

    i {
        color: var(--color-blanco);
    }
}

.btn-close {
    background: unset;
    height: auto;
    position: absolute;
        right: 1rem;
    width: auto;

    i {
        font-size: 1.5rem;
    }

    &:hover {
        color: var(--color-queso) !important;
        filter: drop-shadow(0 0 10px var(--color-blanco-alpha40));
    }

    &:focus {
        box-shadow: unset;
    }
}

.btn-armala {
    background-color: var(--color-queso);
    cursor: url("../img/mmm.png"), auto !important;
    font-family: var(--font-family-ipizza);

    &:hover {
        background-color: var(--color-gris);
        border-color: var(--color-queso);
        color: var(--color-blanco);
    }
}

.btn-ver-todas {
    @extend %mx-auto;
    background-color: var(--color-blanco-alpha90);
    height: 50px;
    width: 25%;

    i {
        font-size: 1.3rem;
    }
    &:hover {
        background-color: var(--color-queso);
    }
}

.btn-mostrar-mas-fotos {
    background-color: var(--color-gris);
    border-radius: unset;
    color: var(--color-blanco);
    width: 100%;

    i {
        font-size: 1.3rem;
    }

    &:hover {
        background-color: var(--color-queso);
        color: var(--color-gris);
    }
}

.btn-pagar {
    @extend %mx-auto;
    border-color: var(--color-blanco);
    width: 75%;
    
    &:hover {
        border-color: var(--color-blanco);
    }
}

/* INICIO Botones de switch para formularios */
.btn-switch {
    input[type=checkbox].switch-input {
        display:none; 
    }
    
    label {
        cursor: pointer;
    }
    
    .switch-label {
        @include prefix(transition, all 0.4s);
        background: var(--color-gris);
        border: 2px solid var(--color-queso);
        border-radius: 25px;
        display: inline-block;
        height: 33px;
        position: relative;
        width: 65px;

        &::before {
            @include prefix(transition, all 0.4s);
            content: '';
            background: var(--color-blanco);
            border-radius: 25px;
            display: block;
            height: 25px;
            position: absolute;
                top: 2px;
                left: 3px;
            width: 25px;
        }
    }
      
    input[type=checkbox].switch-input:checked + label.switch-label::before {
        background: var(--color-queso);
            left: 33px;
    }
}
/* FIN Botones de switch */

@include media-breakpoint-up(xxl) {
    .btn-ver-todas {
        width: 30%;
    }
}

@include media-breakpoint-between(sm, lg) {
    .btn-armala {
        font-size: 2rem;
        height: 3.6rem;
        position: fixed;
            bottom: 2vh;
        width: 96vw;
    }

    .btn-ver-todas {
        width: 50%;
    }
}

@include media-breakpoint-only(xs) {
    .btn-ver-todas {
        width: 60%;
    }
}