@use 'sass:meta';
@import '../base/config';
@import '../base/colores';
@import '../base/functions';
@import '../base/tipografias';

:root {
    font-size: #{$font-size-general};

        /* Tipografias */
        --font-family-general: #{meta.inspect($font-family-general)};
        --font-family-ipizza: #{meta.inspect($font-family-artistico)};
        --font-family-copyright: #{meta.inspect($font-family-firmas)};

        /* General */
        --altura-completa: #{$altura-completa};
        --altura-menu-fijo: #{$altura-menu-fijo};
        --altura-visible: calc(100vh - var(--altura-menu-fijo));
        --borde-general: #{$borde-general};
        --padding-horizontal: #{$padding-horizontal};
        --padding-vertical: #{$padding-vertical};
        
        /* Responsive */
        --altura-menu-fijo-mobile: #{$altura-menu-fijo-mobile};
        --altura-visible-mobile: calc(100vh - var(--altura-menu-fijo-mobile));
        --padding-horizontal-mobile: #{$padding-horizontal-mobile};
        --padding-vertical-mobile: #{$padding-vertical-mobile};

        /* Colores del sitio */
        --color-blanco: #{$color-blanco};
        --color-gris: #{$color-gris};
        --color-masa: #{$color-masa};
        --color-negro-intenso: #{$color-negro-intenso};
        --color-queso: #{$color-queso};
        --color-rojo-intenso: #{$color-rojo-intenso};
        --color-rojo-o: #{$color-rojo-o};
        --color-tomate: #{$color-tomate};

        --color-facebook: #{$color-facebook};
        --color-instagram: #{$color-instagram};
        --color-youtube: #{$color-youtube};

        --color-blanco-alpha40: #{aplicar-transparencia(40%, $color-blanco)};
        --color-blanco-alpha50: #{aplicar-transparencia(50%, $color-blanco)};
        --color-blanco-alpha90: #{aplicar-transparencia(90%, $color-blanco)};
}