@import '../base/media-query';

/* -------- CSS Tricks -------- */
.wrap-animation {
    overflow: hidden;
}

.h-visible {
    height: var(--altura-visible);
}

.row-v-align { /* Mi propio hack, para trabajar con h-visible */
    align-items: center;
    height: 100%;
}

:target::before { /* Solucion a exceso de desplazamiento de links internos por menu fijo */
    content: "";
    display: block;
    height: var(--altura-menu-fijo); // aquí la altura de la cabecera fija
    margin-top: calc(0px - var(--altura-menu-fijo)); // altura negativa de la cabecera fija
}

@include media-breakpoint-down(lg) {
    .h-visible {
        height: auto;
    }

    :target::before {
        height: var(--altura-menu-fijo-mobile);
        margin-top: calc(0px - var(--altura-menu-fijo-mobile));
    }
}

@include media-breakpoint-only(xs) {
    html, body { /* Tomado "prestado" de Ryki Jaco y Filabe */
        overflow-x: hidden;
    }
}