@import '../base/extends';

.tarjeta-de-producto {
    @extend %sombra-contenedor;
    background-color: var(--color-gris);
    border-radius: var(--borde-general);
    margin: 0 auto;
    padding: 0;
    padding-bottom: 0.8rem;
    width: 245px;

    button {
        display: block;
        margin: 0.6rem auto 0;
    }

    &:hover {
        @extend %sombra-contenedor-hover;
    }
}

.tarjeta-de-producto figure {
    img {
        border-radius: var(--borde-general) var(--borde-general) 0 0;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
        width: 100%;
    }

    figcaption {
        padding: 0 0.5rem;
        text-align: center;
    }    
}

@include media-breakpoint-between(md, lg) {
    .tarjeta-de-producto {
        width: 225px;
    }
}

@include media-breakpoint-between(sm, lg) {
    .tarjeta-de-producto {
        button {
            font-size: 1.2rem;
            height: initial;
            position: static;
            width: initial;
        }
    }
}

@include media-breakpoint-between(lg, xl) {
    .tarjeta-de-producto {
        width: 225px;
    }
}

@include media-breakpoint-up(xxl) {
    .tarjeta-de-producto {
        width: 275px;
    }
}