@import '../base/extends';

.tarjeta-de-producto {
    @extend %sombra-contenedor;
    @extend %mx-auto;
    background-color: var(--color-gris);
    border-radius: var(--borde-general);
    padding: 0;
    padding-bottom: 0.8rem;
    user-select: none;
    width: 225px;

    button {
        margin: 0.6rem auto 0;
    }

    &:hover {
        @extend %sombra-contenedor-hover;
    }
}

.tarjeta-de-producto figure {
    img {
        border-radius: var(--borde-general) var(--borde-general) 0 0;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
        width: 100%;
    }

    figcaption {
        padding: 0 0.5rem;
        text-align: center;
    }    
}

#armala-carousel-productos {
    .tarjeta-de-producto {
        padding-bottom: 0.5rem;

        .datos-tarjeta-de-producto {
            height: 95px
        }

        figcaption {
            padding: 0;
            padding-right: 0.5rem;
        }

        h2 {
            font-size: 2.2rem;
            margin: 0;
            padding-left: 0.5rem;
    
            &::after {
                content: '';
                border-right: 4px solid var(--color-queso);
                margin: 0 0.1rem;
            }
        }
    }
}

@include media-breakpoint-between(sm, lg) {
    .tarjeta-de-producto {
        button {
            font-size: 1.2rem;
            height: initial;
            position: static;
            width: initial;
        }
    }
}

@include media-breakpoint-up(xxl) {
    .tarjeta-de-producto {
        width: 275px;
    }
}