@import '../base/extends';

.tarjeta-de-producto {
    @extend %sombra-contenedor;
    background-color: var(--color-gris);
    border-radius: var(--borde-general);
    height: 375px;
    width: 245px;

    button {
        display: block;
        margin: 0.5rem auto 0;
    }

    &:hover {
        @extend %sombra-contenedor-hover;
    }
}

.tarjeta-de-producto figure {
    margin: 0;

    img {
        border-radius: var(--borde-general) var(--borde-general) 0 0;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
        height: 245px;
        width: 245px;
    }

    figcaption {
        height: 60px;
        padding: 0 0.5rem;
        text-align: center;
    }    
}

@include mediaq-breakpoint-between(sm, lg) {
    .tarjeta-de-producto button {
        font-size: 1.2rem;
        height: initial;
        position: static;
        width: initial;
    }
}
