
@media only screen and (width: 1024px) and (height: 1366px) {
    section.video-marketing {
        height: calc(var(--altura-visible-mobile) * 0.75); // Porque el height: auto de .h-visible no calcula bien la altura

        video {
            height: calc(var(--altura-visible-mobile) * 0.75);
        }
    }

    section.nuestra-calidad {
        article,
        article:hover {
            filter: unset;
         }
    }

    section.opiniones {
        height: 600px;
    }

    section.opiniones article {
        width: 80%;
    }

    .h-visible {
        height: auto;
    }
}