
@media only screen and (width: 1024px) and (height: 1366px) {
    section.video-marketing {
        height: calc(var(--altura-visible-mobile) * 0.70); // Porque el height: auto de .h-visible no calcula bien la altura

        video {
            height: calc(var(--altura-visible-mobile) * 0.70);
        }
    }

    section.nuestra-calidad {
        article,
        article:hover {
            filter: unset;
         }
    }

    section.nuestra-calidad article {
        padding: 0 var(--padding-horizontal);
    }

    section.opiniones {
        height: 600px;
    }

    section.opiniones article {
        width: 80%;
    }

    section.galeria img {
        height: 16vh;
    }

    /* -------- CSS Tricks -------- */
    .h-visible {
        height: auto;
    }
}