@import '../base/media-query';
@import '../base/mixins';

/* -------- armala.html --------*/
section.armala {
    h1 {
        color: var(--color-blanco);
        text-align: center;
    }
    h2 {
        font-family: 'Finger Paint', cursive;
        font-size: 1.5rem;
    }

    &::before {
        @include background-full(url(../img/background/bg-armala.svg));
        filter: brightness(0.3);
    }
}

section.armado-de-pedido,
section.detalle-de-pedido {
    padding: 1rem;
}

section.armado-de-pedido {
    border-radius: var(--borde-general);
    background-color: var(--color-gris);
}

#armala-carousel-productos {
    height: 380px;
    
    .tarjeta-de-producto {
        height: 350px;
        user-select: none;

        .datos-tarjeta-de-producto {
            height: 95px
        }

        figcaption {
            padding: 0;
            padding-right: 0.5rem;
        }

        h2 {
            font-size: 2.2rem;
            margin: 0;
            padding-left: 0.5rem;
    
            &::after {
                content: '';
                border-right: 4px solid var(--color-queso);
                margin: 0 0.1rem;
            }
        }
    }
}

section.armado-de-pedido form#armala-form {
    h2 {
        color: var(--color-queso);
    }

    fieldset {
        margin-top: 2rem;
    }

    fieldset.extras {
        border: 1px solid var(--color-blanco);
        padding: 1.2rem 1rem;
    }

    & > div {
        margin-top: 1rem;
    }
}

section.detalle-de-pedido {
    background-color: var(--color-queso);
    border-radius: var(--borde-general);
    color: var(--color-gris);
    font-size: 0.8rem;
    font-weight: bold;
    position: sticky;
        top: calc(var(--padding-vertical) / 4 + var(--altura-menu-fijo));
    
    section {
        padding: 0;
    }

    ul {
        margin: 0;
        padding: 0.5rem 0;
        list-style-type: none;

        li {
            font-style: italic;
        }
    }

    .detalle-extras,
    .detalle-cono,
    .detalle-envio {
        border-top: 2px solid var(--color-gris);
    }

    .precio::before {
        content: '$';
        margin-right: 1px;
    }

    .precio-total {
        color: var(--color-blanco);
        font-family: 'Finger Paint', cursive;
        font-size: 2rem;
        text-align: center;
        user-select: none;
    }
}

@include mediaq-breakpoint {
    section.armala {
        padding: var(--padding-vertical) 0;
    }
}

.container-canvas {
    background: var(--color-gris); 
    border-radius: var(--borde-general);
    height: 180px;
    margin: 0 auto;
    width: 180px; 
}