@import '../base/extends';
@import '../base/media-query';
@import '../base/mixins';

/* -------- armala.html --------*/
section.armala {
    h1 {
        color: var(--color-blanco);
    }
    h2 {
        font-family: var(--font-family-ipizza);
    }

    &::before {
        @include background-full(url(../img/background/bg-armala.svg), top);
        background-attachment: fixed;
        filter: brightness(0.3);
    }
}

section.armado-de-pedido,
section.detalle-de-pedido {
    padding: 1rem;
}

section.armado-de-pedido {
    border-radius: var(--borde-general);
    background-color: var(--color-gris);
}

/* INICIO Estilos del FORMULARIO de armado de pedido */
section.armado-de-pedido form#armala-form {
    h2 {
        color: var(--color-queso);
    }

    fieldset {
        margin-top: 2rem;
    }

    label,
    select {
        margin-top: 0.6rem;
    }

    fieldset.extras {
        border: 1px solid var(--color-blanco);
        padding: 1.2rem 1rem;
    }

    & > div {
        margin-top: 0.5rem;
    }
}
/* FIN Estilos del FORMULARIO de armado de pedido */

section.pegable-container {
    position: sticky;
        top: calc(var(--padding-vertical) / 4 + var(--altura-menu-fijo));
}

section.detalle-de-pedido {
    background-color: var(--color-queso);
    border-radius: var(--borde-general);
    color: var(--color-gris);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;

    .canvas-container {
        @extend %mx-auto;
        background: var(--color-gris); 
        border-radius: var(--borde-general);
        height: 180px;
        width: 180px; 
    }
    
    section {
        padding: 0;

        &.detalle-extras,
        &.detalle-cono,
        &.detalle-envio {
            border-top: 2px solid var(--color-gris);
        }
    }

    ul {
        margin: 0;
        padding: 0.5rem 0;
        list-style-type: none;

        li {
            font-style: italic;
        }
    }

    .precio::before {
        content: '$';
        margin-right: 1px;
    }

    .precio-total {
        color: var(--color-blanco);
        font-family: var(--font-family-ipizza);
        font-size: 2rem;
    }
}

@include media-breakpoint-between(xs, lg) {
    section.pegable-container {
        position: relative;
            top: unset;
    }

    section.detalle-de-pedido {
        margin-top: 1rem;
    }
}

@include media-breakpoint-only(xs) {
    section.armala {
        h1 {
            font-size: 1.5rem;
        }
    }

    section.armado-de-pedido,
    section.detalle-de-pedido {
        padding: 0.75rem;
    }

    section.armado-de-pedido form#armala-form {
        fieldset.extras {
            padding: 0.6rem 0.5rem;
        }
    }
}