@import '../base/extends';
@import '../base/gradientes';
@import '../base/media-query';

/* -------- contacto.html -------- */
section.contacto {
    background: map-get($gradientes, g-ipizza);
    padding: var(--padding-vertical) var(--padding-horizontal);
}

section.contacto iframe {
    @extend %sombra-contenedor;
    border: 0;
    display: block;
    height: 455px;
    margin: 0 auto;
    transition: 1s;
    width: 95%;

    &:hover {
        @extend %sombra-contenedor-hover;
        transition: 1s;
    }
}

section.contacto form#contacto-form {
    @extend %sombra-contenedor;
    @extend %mx-auto;
    background-color: var(--color-gris);
    border-radius: 25px;
    padding: 1rem;
    transition: 1s;
    width: 95%;

    label {
        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }
    }

    h1 {
        color: inherit;
        display: inline-block;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        margin-bottom: inherit;
    }

    .campo-obligatorio::after {
        content: '*';
        color: var(--color-queso);
        margin-left: 0.3rem;
    }

    .terminos-y-condiciones {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }

    &:hover {
        @extend %sombra-contenedor-hover;
        transition: 1s;
    }
}

@include media-breakpoint-up(xxl) {
    section.contacto iframe {
        height: 570px;
    }

    section.contacto form#contacto-form {
        textarea {
            height: 168px;
        }

        label {
            margin-top: 1.5rem;
        }
    }
}

@include media-breakpoint-between(xs, md) {
    section.contacto form#contacto-form {
        width: 95%;

        .terminos-y-condiciones {
            font-size: 0.7rem;
        }
    }
}

@include media-breakpoint-only(xs) {
    section.contacto {
        padding: var(--padding-vertical-mobile) var(--padding-horizontal-mobile);
    }
}