@import '../base/media-query';
@import '../base/mixins';

/* -------- nosotros.html -------- */
section.historia {
    article {
        padding: var(--padding-vertical) var(--padding-horizontal);
    }

    &::before {
        @include background-full(url(../img/background/bg-nosotros.webp));
        filter: brightness(0.4);
    }
    
    .no-webp &::before {
        @include background(url(../img/background/bg-nosotros.jpg));
    }
}

section.historia figure {
    margin: 0;
    position: relative;

    img {
        border: 0.5rem outset var(--color-gris);
        height: 375px;
        transform: rotate(-5deg);
        width: 563px;
    }

    figcaption {
        width: 100%;
        
        h1 {
            color: var(--color-queso);
        }
        p{
            text-align: justify;
        }
    }
}

section.galeria {
    background: map-get($gradientes, UIg-DeepSpace);
    padding: 0;

    img {
        height: 44vh;
        width: 100%;
    }
}

@include media-breakpoint-down(md) {
    section.historia {
        height: auto;

        article {
            padding: 0;
        }
    }

    section.historia figure {
        height: auto;
    }

    section.galeria img {
        height: 30vh;
    }
}

@include media-breakpoint-only(md) {
    section.historia {
        .no-webp &::before {
            @include background(url(../img/background/bg-nosotros-tablet.jpg));
        }
        
        .webp &::before {
            @include background(url(../img/background/bg-nosotros-tablet.webp));
        }
    }
}

@include media-breakpoint-only(sm) {
    section.historia {
        .no-webp &::before {
            @include background(url(../img/background/bg-nosotros-mobile-xl.jpg));
        }
        
        .webp &::before {
            @include background(url(../img/background/bg-nosotros-mobile-xl.webp));
        }
    }
}

@include media-breakpoint-only(xs) {
    section.historia {
        article {
            padding: 0;
        }
    
        .no-webp &::before {
            @include background(url(../img/background/bg-nosotros-mobile.jpg));
        }
        
        .webp &::before {
            @include background(url(../img/background/bg-nosotros-mobile.webp));
        }
    }

    section.historia figure {
        img {
            width: 90%;
        }
    
        figcaption {
            margin-top: 2rem;
        }
    }
}