@import '../base/media-query';
@import '../base/mixins';

/* -------- nosotros.html -------- */
section.historia {
    padding: var(--padding-vertical) var(--padding-horizontal);

    &::before {
        @include background-full(url(../img/background/bg-nosotros.webp));
        filter: brightness(0.4);
    }
    
    .no-webp &::before {
        @include background(url(../img/background/bg-nosotros.jpg));
    }
}

section.historia figure {
    margin: 0;
    position: relative;

    img {
        @extend %mx-auto;
        border: 0.5rem outset var(--color-gris);
        display: block;
        text-align: center;
        transform: rotate(-5deg);
        width: 90%;
    }

    figcaption {
        width: 100%;
        
        h1 {
            color: var(--color-queso);
        }
        p {
            text-align: justify;
        }
        small {
            font-style: italic;
            text-align: right;
        }
    }
}

section.galeria {
    background: map-get($gradientes, UIg-DeepSpace);
    padding: 0;

    img {
        height: 44vh;
        width: 100%;
    }
}

@include media-breakpoint-only(md) {
    section.historia {
        .no-webp &::before {
            @include background(url(../img/background/bg-nosotros-tablet.jpg));
        }
        
        .webp &::before {
            @include background(url(../img/background/bg-nosotros-tablet.webp));
        }
    }

    section.historia figure {
        figcaption {
            margin-top: 2.5rem;
        }
    }
}

@include media-breakpoint-between(xs, lg) {
    section.galeria img {
        height: 30vh;
    }
}

@include media-breakpoint-only(sm) {
    section.historia {
        .no-webp &::before {
            @include background(url(../img/background/bg-nosotros-mobile-xl.jpg));
        }
        
        .webp &::before {
            @include background(url(../img/background/bg-nosotros-mobile-xl.webp));
        }
    }
}

@include media-breakpoint-only(xs) {
    section.historia {
        padding: var(--padding-vertical-mobile) calc(var(--padding-horizontal-mobile)*2);

        .no-webp &::before {
            @include background(url(../img/background/bg-nosotros-mobile.jpg));
        }
        
        .webp &::before {
            @include background(url(../img/background/bg-nosotros-mobile.webp));
        }
    }

    section.historia figure {
        figcaption {
            margin-top: 2rem;
        }

        h1 {
            font-size: 1.7rem;
        }
    }
}