@import '../base/extends';
@import '../base/media-query';
@import '../base/mixins';

/* -------- pedidos.html -------- */
section.consulta-pedido {
    padding: var(--padding-vertical) var(--padding-horizontal);
    text-align: center;

    i {
        color: var(--color-gris);
    }

    &::before {
        @include background-full(url(../img/background/bg-pedidos.webp), bottom);
        filter: brightness(0.7);
    }

    .no-webp &::before {
        @include background(url(../img/background/bg-pedidos.jpg), bottom);
    }
}

section.consulta-pedido .consulta-pedido-container {
    @extend %sombra-contenedor;
    background-color: var(--color-blanco-alpha50);
    border-radius: var(--borde-general);
    color: var(--color-gris);
    padding: var(--padding-vertical) 1.5rem;
    position: relative;

    h2 {
        font-size: 1rem;
        i {
            color: var(--color-tomate);
        }
    }
}

section.consulta-pedido,
section.faq {
    i {
        font-size: 0.6rem;
    }
}

section.faq {
    background-color: var(--color-negro-intenso);
    
    h1 {
        color: var(--color-blanco);
    }
    i {
        color: var(--color-queso);
    }
    .desplegable details {
        p {
            background-color: var(--color-negro-intenso);
            border-left: 4px solid var(--color-queso);
            font-size: 0.8rem;
            margin: 0;
            padding: 1.2rem;
            padding-right: 0;
        }
        summary {
            background-color: var(--color-negro-intenso);
            border-left: 4px solid var(--color-queso);
            color: var(--color-queso);
            cursor: pointer;
            font-size: 0.9rem;
            font-weight: bold;
            outline: none;
            padding: 1.2rem;
            padding-right: 0;
            text-align: left;
    
            &:hover {
                background-color: var(--color-queso);
                color: var(--color-negro-intenso);
            }
        }
        ul {
            background-color: var(--color-negro-intenso);
            border-left: 4px solid var(--color-queso);
            font-size: 0.8rem;
            margin: 0;
            padding: 0 0 1.2rem 2.2rem;
        }
    }
}

@include media-breakpoint-only(md) {
    section.consulta-pedido {
        .no-webp &::before {
            @include background(url(../img/background/bg-pedidos-tablet.jpg), bottom);
        }
    
        .webp &::before {
            @include background(url(../img/background/bg-pedidos-tablet.webp), bottom);
        }  
    }
}

@include media-breakpoint-only(sm) {
    section.consulta-pedido {
        .no-webp &::before {
            @include background(url(../img/background/bg-pedidos-mobile-xl.jpg), bottom);
        }
    
        .webp &::before {
            @include background(url(../img/background/bg-pedidos-mobile-xl.webp), bottom);
        }  
    }
}

@include media-breakpoint-only(xs) {
    section.consulta-pedido {
        padding: var(--padding-vertical-mobile) calc(var(--padding-horizontal-mobile)*2);

        .no-webp &::before {
            @include background(url(../img/background/bg-pedidos-mobile.jpg), bottom);
        }
    
        .webp &::before {
            @include background(url(../img/background/bg-pedidos-mobile.webp), bottom);
        }  
    }

    section.consulta-pedido .consulta-pedido-container {
        padding: var(--padding-vertical-mobile) var(--padding-horizontal-mobile);

        h2 {
            height: 2rem;
        }
    }
}