// Colores del sitio
$color-blanco: #F8F9F1 !default;
$color-gris: #212121 !default;
$color-masa: #D6934D !default;
$color-negro-intenso: #0a0a0a !default;
$color-queso: #FCC61A !default;
$color-rojo-intenso:#E50914 !default;
$color-rojo-o: #7A0B00 !default;
$color-tomate: #BF1304 !default;


$color-facebook: #3b5998 !default;
$color-instagram: #E1306C !default;
$color-youtube: #c4302b !default;