// Colores del sitio
$color-blanco: #F8F9F1;
$color-gris: #212121;
$color-masa: #D6934D;
$color-negro-intenso: #0a0a0a;
$color-queso: #FCC61A;
$color-rojo-intenso:#E50914;
$color-rojo-o: #7A0B00;
$color-tomate: #BF1304;


$color-facebook: #3b5998;
$color-instagram: #E1306C;
$color-youtube: #c4302b;