$gradientes: (
    UIg-Zinc: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea),  /*Zinc*/
    UIg-DeepSpace: linear-gradient(to bottom, #000000, #434343), /*Deep Space*/
    UIg-RedMist: linear-gradient(to top, #000000, #e74c3c), /*RedMist*/
    g-ipizza: linear-gradient(to bottom, var(--color-queso), var(--color-gris))
);