$gradientes: (
    UIg-Zinc: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea),
    UIg-DeepSpace: linear-gradient(to bottom, #000000, #434343),
    UIg-RedMist: linear-gradient(to top, #000000, #e74c3c),
    g-ipizza: linear-gradient(to bottom, var(--color-queso), var(--color-gris))
) !default;