@import 'config';
@import 'functions';

// Creo lista auxiliar de claves para saber: El cero absoluto, el 1er breakpoint y el ultimo.
$lista-mq-breakpoints:  map-keys($mq-breakpoints);

// Obtengo la clave del cero absoluto
$clave-absoluta: nth($lista-mq-breakpoints, 1);

// Obtengo la primera media y su valor
$clave-primer-breakpoint: nth($lista-mq-breakpoints, 2);
$valor-primer-breakpoint: map_get($mq-breakpoints,  $clave-primer-breakpoint);

// Obtengo la ultima media y su valor
$posicion-ultimo-breakpoint: length($lista-mq-breakpoints);        
$clave-ultimo-breakpoint: nth($lista-mq-breakpoints, $posicion-ultimo-breakpoint);
$valor-ultimo-breakpoint: map_get($mq-breakpoints, $clave-ultimo-breakpoint);

@mixin media-breakpoint-only($media) {
    @if map_has_key($mq-breakpoints, $media) {
        
        @if $media==$clave-absoluta {
            $valor-media-final: calcular-max-breakpoint($valor-primer-breakpoint);
            
            @media only screen and (max-width: $valor-media-final) {
                @content;
            }
        }

        @if $media==$clave-ultimo-breakpoint {
            $valor-media-inicial: $valor-ultimo-breakpoint;

            @media only screen and (min-width: $valor-media-inicial) {
                @content;
            }
        }

        @if ($media != $clave-absoluta) and ( $media != $clave-ultimo-breakpoint) {
            
            $valor-media-inicial: map_get($mq-breakpoints, $media);

            // Obtengo la media final del rango y su valor
            $posicion-media-final: index($lista-mq-breakpoints, $media) + 1;

                $clave-media-final: nth($lista-mq-breakpoints, $posicion-media-final);
                $valor-media-final: map_get($mq-breakpoints, $clave-media-final);

            $valor-media-final: calcular-max-breakpoint($valor-media-final);

            @media only screen and (min-width: $valor-media-inicial) and (max-width: $valor-media-final) {
                @content;
            }
        }
    }
}

// Media desde el primer parametro hasta el 2do
@mixin media-breakpoint-between($media-inicial, $media-final) {
    @if map_has_key($mq-breakpoints, $media-inicial) and map_has_key($mq-breakpoints, $media-final) {

        $valor-media-inicial: map_get($mq-breakpoints, $media-inicial);
        $valor-media-final: map_get($mq-breakpoints, $media-final);

        $valor-media-final: calcular-max-breakpoint($valor-media-final);

        @media only screen and (min-width: $valor-media-inicial) and (max-width: $valor-media-final) {
            @content;
        }
    }
}

// Media desde 0 hasta el breakpoint pasado por parametro
@mixin media-breakpoint-down($media-max) {
    @if map_has_key($mq-breakpoints, $media-max) {   
        
        $valor-media-max: map_get($mq-breakpoints, $media-max); // Obtengo el valor de la media
        
        $valor-media-final: calcular-max-breakpoint($valor-media-max);

        @media only screen and (max-width: $valor-media-final) {
            @content;
        }
    }
}

// Media desde el breakpoint pasado por parametro
@mixin media-breakpoint-up($media-min) {
    @if map_has_key($mq-breakpoints, $media-min) {
        
        $valor-media-inicial: map_get($mq-breakpoints, $media-min); // Obtengo el valor de la media

        @media only screen and (min-width: $valor-media-inicial) {
            @content;
        }
    }
}