@mixin background-full($url, $posicion: center, $tamano: cover) {
    content:'';
    background: $url $posicion / $tamano;
    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
}

@mixin background($url, $posicion: center, $tamano: cover) {
    background: $url $posicion / $tamano;
}

@mixin desarrollador($display: block) {
    display: $display;
    font-family: var(--font-family-copyright);
    font-size: 1rem;
}

@mixin prefix($propiedad, $valor) {
    -webkit-#{$propiedad}: $valor;
    -moz-#{$propiedad}: $valor;
    -ms-#{$propiedad}: $valor;
    -o-#{$propiedad}: $valor;
    #{$propiedad}: $valor;
}

@mixin button($display: block, $padding: 0.2rem 0.8rem) {
    display: $display;
    border-color: transparent;
    border-radius: 25px;
    color: var(--color-gris);
    font-size: 1.2rem;
    font-weight: bold;
    padding: $padding;
    text-transform: uppercase;
    user-select: none;
}

@mixin menu($li_display) {
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: $li_display;
        @content;

        &:first-child {
            margin: 0;
        }
    }
    
    a {
        border-bottom: 3px solid transparent;
        color: var(--color-blanco);
        font-size: 1.2rem;
        font-weight: bold;
        padding-bottom: 3px;
        position: relative;
        text-transform: capitalize;

        &:visited,
        &:active {
            color: var(--color-blanco);
        }

        // INICIO Borde desde el centro hasta los costados
        &::before {
            content: "";
            background: var(--color-queso);
            display: block;
            height: 3px;
            position: absolute;
                bottom: 0;
                left: 50%;
            transition: 0.5s;
            width: 0;
        }

        &:hover::before {
            left: 0;
            width: 100%;
        }
        // FIN Borde desde el centro hasta los costados
    }
}