// Tipografia general
$font-family-general: 'Open Sans', sans-serif !default;

// Tipografia para elementos especiales: Logotipo, Titulos, etc.
$font-family-artistico: 'Finger Paint', cursive !default;

// Tipografia para firmas
$font-family-firmas: 'Satisfy', cursive !default;