$font-family-general: 'Open Sans', sans-serif;
$font-size-general: 21px;

// Tipografia para elementos especiales: Logotipo, Titulos, etc.
$font-family-artistico: 'Finger Paint', cursive;

// Tipografia para firmas
$font-family-firmas: 'Satisfy', cursive;